body{
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: stretch;
    justify-content: center;;
}

section{
    width: 800px;
    height: 800px;
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div {
    width: 50px;
    height: 50px;
    
}

.fundo-terra{
    background-image: url('./fundos/fundo-terra.png');
}

.fundo-grama{
    background-image: url('./fundos/fundo-grama.png');
}

.fundo-arbusto{
    background-image: url('./fundos/fundo-arbusto.png');
}

.personagemParadoDireita{
    height: 32px;
    width: 32px;
    background: url("./personagens/andando.png");
    scale: 1.3;
}

.personagemAndandoDireita {
    height: 32px;
    width: 32px;
    background: url("./personagens/andando.png");
    animation: spriteDireita 1s steps(6);
    scale: 1.3;
}

@keyframes spriteDireita {
    from {
        background-position: 0px;        
        margin-left: 0px;
    }
    to {
        background-position: -192px;
        margin-left: 60px;
    }
}

.personagemParadoEsquerda{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 32px;
    width: 32px;
    background: url("./personagens/andando.png");
    scale: 1.3;
}

.personagemAndandoEsquerda {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 32px;
    width: 32px;
    background: url("./personagens/andando.png");
    animation: spriteEsquerda 1s steps(6);
    scale: 1.3;
}

@keyframes spriteEsquerda {
    from {
        background-position: 0px;        
        margin-left: 0px;
    }
    to {
        background-position: -192px;
        margin-left: -60px;
    }
}

.personagemParadoCima{
    height: 32px;
    width: 32px;
    background: url("./personagens/andandoCima.png");
    scale: 1.3;
}

.personagemSubindo {
    height: 32px;
    width: 32px;
    background: url("./personagens/andandoCima.png");
    animation: spriteSubindo 1s steps(4);
    scale: 1.3;
}

@keyframes spriteSubindo {
    from {
        background-position: 0px;        
        margin-top: 0px;
    }
    to {
        background-position: -128px;
        margin-top: -60px;
    }
}

.personagemDescendo {
    height: 32px;
    width: 32px;
    background: url("./personagens/andando.png");
    animation: spiteDescendo 1s steps(6);
    scale: 1.3;
}

@keyframes spiteDescendo {
    from {
        background-position: 0px;        
        margin-top: 0px;
    }
    to {
        background-position: -192px;
        margin-top: 60px;
    }
}


